btnpadrao{
    width: 10px;
}
form{
    padding: 0;
    margin: 0 auto;

}
.type{
    padding: 0;
    margin: 0 auto;
}
.btnpadrao{
    margin:0 auto
}
.listaClientes > ul {

    background: var(--cor-primaria);
    color: var(--cor-segundaria);
    width: 200px;

}