.App,#root {
  text-align: center;
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  --cor-primaria:#e5007d;
  --cor-segundaria:#fdc100;
  --cor-terciaria:#1a1a18;
}
.main > * {
  margin: 0.7vh;



}
footer{
  background: var(--cor-primaria);
  width: 100%;
  display: flex;
  justify-content: center;
  color:#fdc100;
}
/**index*/
.main {

  display: grid;
  grid-template-columns: 1fr ;
  border: 1px solid green;

}
@media (max-width: 600px){
  .main{
    grid-template-columns: 1fr;
  }
}