
.App{
  display: flex;
  flex-direction: column;
  align-items: center;
  --cor-primaria:#e5007d
}
p{
  padding: 12vh 0vh;

}
.App-header {
  background-image: url("assets/bfbackground2.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  min-width: 100%;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  color: var(--cor-primaria);


  font-size: calc(10px + 2vmin);

}
footer{
  background: var(--cor-primaria);
  width: 100%;
  display: flex;
  justify-content: center;
  color:#fdc100;
}
section{
  background-image: linear-gradient(rgba(253, 193, 0, 0.5),
  rgba(0, 0, 0, 0.9)),url("assets/bfbackground.jpg");
  background-position: center;

  width: 100%;
  min-height: 100vh;
}
SectionCards{
  display: flex;
  flex-direction: row;
  border: 1px  solid red;
}
.type{
  border: none;
  background: none;
  border-bottom: solid 1px;
  color:var(--cor-primaria);
  height: 3vh;
  text-align: center;

}
.type::placeholder{
  color: var(--cor-primaria);
  text-align: center;
}
[type="submit"]{
  color: var(--cor-primaria);
  background: none;
  margin: 1vh 3vh;
  border: 1px solid #e5007d7d;
  border-radius: 1vh;
  padding: 1vh 3vh;
}

[type="submit"]:hover{
  color:#fdc100;
  background: var(--cor-primaria);

}

