.App{
  display: flex;
  flex-direction: column;
  align-items: center;
}
p{
  padding: 11vh 0vh;

}
.App-header {
  background-image: url("assets/bfbackground2.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  min-width: 100%;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  color: #e5007d;


  font-size: calc(10px + 2vmin);

}
footer{
  background: #e5007d;
  width: 100%;
  display: flex;
  justify-content: center;
}
section{
  background-image: url("assets/bfbackground.jpg");
  background-position: center;
  width: 100%;
  min-height: 100vh;
}
.type{

  color:red;
}

