
.App{
  display: flex;
  flex-direction: column;
  align-items: center;
  --cor-primaria:#e5007d
}
p{
  padding: 12vh 0vh;

}
.App-header {
  background-image: url("assets/bfbackground2.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  min-width: 100%;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  color: var(--cor-primaria);


  font-size: calc(10px + 2vmin);

}
footer{
  background: var(--cor-primaria);
  width: 100%;
  display: flex;
  justify-content: center;
}
section{
  background-image: url("assets/bfbackground.jpg");
  background-position: center;
  width: 100%;
  min-height: 100vh;
}
.type{
  border: none;
  background: none;
  border-bottom: solid 1px;
  color:var(--cor-primaria);
  height: 3vh;
  text-align: center;

}
.type::placeholder{
  color: var(--cor-primaria);
  text-align: center;
}
[type="submit"]{
  color:var(--cor-primaria);
  background:none;

  margin-left: 3vh;
}

