
.type{
    border: none;
    background: none;
    border-bottom: solid 1px;
    color:var(--cor-primaria);
    height: 3vh;
    outline: none;
    width: 42vh;
    text-align: center;

}
.type::placeholder{
    color: var(--cor-primaria);
    text-align: center;
}

@import "Botao.css";